<div class="col-sm-12 col-lg-4 mb-3">
  <div id="board-id-<%= board.id %>">
    <div class="card"><%= image_tag(board.image_url) %>
      <div class="card-body">
        <h4 class="card-title">
          <%= link_to(board.title, board) %>
        </h4>
        <%= render 'crud_menus', board: board  if current_user.own?(board) %>
        <%= render 'bookmark_area', board: board unless current_user.own?(board) %>
        <ul class="list-unstyled">
          <li>
            <%= icon 'far', 'user' %>
            <%= board.user.decorate.full_name %>
          </li>
          <li>
            <%= icon 'far', 'calendar' %>
            <%= l board.created_at, format: :long %>
          </li>
        </ul>
        <p class="card-text"><%= board.body %></p>
      </div>
    </div>
  </div>
</div>
